@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.svg');
  src: url('../fonts/OpenSans-Regular-webfont.ttf');
  src: url('../fonts/OpenSans-Regular-webfont.woff');
  font-style: normal;
  font-display: block;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  height: 100vh;
  margin: 0;
  font-size: 40px;
  flex-direction: column;
  /*background-image: url('../images/platzi.png');*/
  background-size: contain;
  font-family: 'open_sansregular';
  background-image: url('../images/platzi.png');
  background-repeat: no-repeat;
}

*{
  font-family: 'open_sansregular' !important;
}