@font-face{
  font-family: 'Montserrat';
  src: url('../src/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style:normal
}
.hello{
  color: red;
  background: url('./icon.png');
  height:100vh;
  font-family: 'Montserrat';
}